<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="UTF-8">
	<title>nav</title>
</head>
<body>
<nav th:fragment="navigation"
     class="navbar justify-content-between mb-3 navbar-expand-lg navbar-dark bg-primary rounded-bottom">
	<a class="navbar-brand h3" href="/home">Pupper</a>
	<ul class="navbar-nav ">
		<li class="nav-item active">
			<a class="nav-link btn-outline-primary" href="/home">Home <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item dropdown" sec:authorize="isAuthenticated()">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">
				<img src="/images/userpic.svg" height="30" width="30">
			</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="/account">My Profile</a>
				<a class="dropdown-item" href="/settings">Settings</a>
				<a class="dropdown-item" href="/logout">Log out</a>
			</div>
		</li>
	</ul>
</nav>

</body>
</html>