<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Timeline</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:fragment="postList">
    <div th:each="post : ${posts}" th:unless="${posts} == null">
        <div>
            <div class="postHeader">
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <h3 th:text="${post.id}">
                                id
                            </h3>
                        </td>
                        <td>
                            <div th:text="${post.creationDate}">
                                Date
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h2 class="postBody" th:text="${post.content}">
                Text
            </h2>
            <div class="postFooter">
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <form th:action="@{/posts/edit}" th:method="GET">
                                <button type="submit" name="pid" th:value="${post.id}">Edit</button>
                            </form>
                        </td>
                        <td>
                            <form th:action="@{/posts/}" th:method="DELETE">
                                <button type="submit" name="pid" th:value="${post.id}">Delete</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>