<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <script src="http://code.jquery.com/jquery-2.2.4.js"
            type="text/javascript"></script>
    <script src="/js/common.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Comments</title>
    <style>
        textarea {
            resize: none; /* Запрещаем изменять размер */
        }
    </style>
</head>
<body>
<h1>Комментарии</h1>
<form method="POST" id = "comment_form">
    <div class="form-group">

        <textarea name = "comment_content" id = "comment_content" class = "form-control" rows = "5" placeholder="Введите комментарий"></textarea>
    </div>
    <div class="form-group">
        <input type="hidden" name="comment_id" id="comment_id" value="null"/>
        <input type="submit" name = "submit" id = "submit" class = "btn btn-info" value="Отправить"/>
    </div>
</form>
<span id = "comment_message"></span>
<br/>
<div id="getComments">
</div>
<script>
    var userId = 1; //ToDo реализовать получение id из сессии
    var userName = "MrSalatik";
    var postId = 1; //ToDo совместить с модулем постов
    var $container = $("#getComments");
    var commentsGraph;
    var replyParent = 0;
    var editing = false;
    var editContent = "";
    var editFooter = "";

    $(function() {
        ajaxWrapper("/comments/getComments", "GET", {post_id : postId}, function(data) {
            commentsGraph = data;
            showComments(data[0], "");
        });

        $("#comment_form").on("submit", function (event) {
            event.preventDefault();
            var content = $("#comment_content").val();
            ajaxWrapper("/comments/addComment", "POST", {user_id : userId,
                    user_name : userName,
                    post_id : postId,
                    content : content,
                    parent_id : null},
                function(data) {
                    alert("Комментарий отправлен");
                });
        });

        $(document).on("click", ".reply", function () {
            var parentId = $(this).attr("id");
            var commentId = $(this).attr("name");
            var userName = $("#user_"+commentId).attr("name");
            $("#reply_text_area_"+parentId).val(userName+", ");
            if (parentId == 0) {
                parentId = commentId;
            }
            $("#reply_"+parentId).val(commentId);
        });

        $(document).on("click", ".delete", function () {
            var commentId = $(this).attr("id");
            alert(commentId);
        });

        $(document).on("click", ".edit", function () {
            var commentId = $(this).attr("id");
            if (!editing) {
                editing = true;
                editContent = $("#comment_content_"+commentId+"").clone();
                editFooter = $("#comment_footer_"+commentId+"").clone();
                $("#comment_content_"+commentId+"").html("<textarea class=\"form-control\" id = \"editText\" rows=\"1\"></textarea>");
                var footEdit = '<button type=\"button\" class = \"btn btn-default saveEdit\" id = \"'+ commentId +'\">Сохранить</button>' +
                    '<button type=\"button\" class = \"btn btn-default cancel\" id = \"'+ commentId +'\">Отменить</button>';
                $("#comment_footer_"+commentId+"").html(footEdit);
            }
        });

        $(document).on("click", ".saveEdit", function () {
            var commentId = $(this).attr("id");
            var newContent = $("#editText").val();
            if (editContent.text() == newContent || newContent == "") {
                $("#comment_content_"+commentId+"").replaceWith(editContent);
                $("#comment_footer_"+commentId+"").replaceWith(editFooter);
            } else {
                ajaxWrapper("/comments/editComment", "POST", {id : commentId, content : newContent}, function(data) {
                    $("#comment_content_"+commentId+"").html(data.message);
                    $("#comment_footer_"+commentId+"").replaceWith(editFooter);
                });
            }
            editing = false;
        });

        $(document).on("click", ".cancel", function () {
            var commentId = $(this).attr("id");
            $("#comment_content_"+commentId+"").replaceWith(editContent);
            $("#comment_footer_"+commentId+"").replaceWith(editFooter);
            editing = false;
        });

        $(document).on("click", ".submit2", function () {
            event.preventDefault();
            var commentId = $(this).attr("id");
            var content = $("#reply_text_area_"+commentId).val();
            var parentId = $("#reply_"+commentId+"").val();
            ajaxWrapper("/comments/addComment", "POST", {user_id : userId,
                    user_name : userName,
                    post_id : postId,
                    content : content,
                    parent_id : parentId},
                function(data) {
                    alert("Ответ отправлен");
                });
        });
    });

    function showComments(data, parentName) {
        for (var i in data) {
            var marginLeft = 0;
            var headingText = data[i].userName;
            if (data[i].parent != null) {
                marginLeft = 48;
                headingText += " ответил " + parentName;
            }
            var mainBlock = '<div class = \"panel panel-default\" style=\"margin-left: ' + marginLeft + 'px\">' +
                '<div class = \"panel-heading\" id = \"user_'+data[i].id+'\" name = \"'+data[i].userName+'\">' + headingText + '<button type=\"button\" class=\"btn btn-link edit\" id = \"'+ data[i].id +'\">Редактировать</button><button type=\"button\" class=\"btn btn-link delete\" id = \"'+ data[i].id +'\">Удалить</button></div>' +
                '<div class = \"panel-body\" id = \"comment_content_'+data[i].id+'\">' + data[i].content + '</div>' +
                '<div class = \"panel-footer\" align=\"right\" id = \"comment_footer_'+data[i].id+'\">' +
                '<button type=\"button\" class = \"btn btn-default reply\" name = \"'+ data[i].id +'\" id = \"'+ replyParent +'\">Ответить</button>' +
                '</div></div>';
            $container.append(mainBlock);
            if (commentsGraph[data[i].id] != null) {
                if (data[i].parent == null) {
                    replyParent = data[i].id;
                }
                showComments(commentsGraph[data[i].id], data[i].userName);
                if (data[i].parent == null) {
                    var replyForm = '<form class="form-inline">' +
                        '<input type=\"hidden\" name=\"reply_' + data[i].id + '\" id=\"reply_' + data[i].id + '\" value=\"' + data[i].id + '\"/>' +
                        '<div class=\"form-group\"><textarea class=\"form-control\" id = \"reply_text_area_' + data[i].id + '\"rows=\"1\" style=\"margin-left: 48px\"></textarea></div>' +
                        '<div class=\"form-group\"><button type=\"button\" class=\"btn btn-default submit2\" id = \"' + data[i].id + '\">Отправить</button></div>' +
                        '</form><br/>';
                    $container.append(replyForm);
                }
            }
        }
    }
</script>
</body>
</html>