<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Timeline</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="postForm">
    <form th:action="@{/timeline}" th:object="${post}" method="post">
        <div>
            <input type="text" th:field="*{content}" placeholder="type something"/>
        </div>
        <div>
            <button type="submit" name="authorId" value="555">Post</button>
        </div>
    </form>
</div>

<div class="postsList" th:unless="${posts} == null">
    <h1>some deep thoughts, real deep</h1>
    <table>
        <tbody>
        <tr th:each="post : ${posts}">
            <td th:text="${post.getAuthorId()}">Author ID</td>
            <td th:text="${post.getContent()}">Text Content</td>
            <td>
                <a th:href="@{/timeline/{pid}(pid=${post.getId()})}" th:text="${post.getCreationDate()}">Date</a>
            </td>
            <td>
                <form th:action="@{/timeline/{pid}(pid=${post.getId()})}" method="post">
                    <button type="submit" >Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>